/* VIDEO TEST */
video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: fill;
}








.main_game_container{
   

    position: relative;
    z-index: 4;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    
}


.main_screen_g{

    flex:20;
    
    /*
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
*/
}





/* TOP BAR */
.game_top_bar{
    padding: 15px 0;
    width: 100%;
    flex:1;
    max-height: 30px;

}

.g_t_b_wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h_b_startButt{
}

.h_b_startButt button{
    background:url(../images/mute.png) no-repeat;
    cursor:pointer;
    border:none;
}

.heart_bar{
    margin-right: 15px;

    display: flex;
    flex-direction: row;

    color: #36399a;
    font-weight: 500;

    background: white;
    height:20px;
    width: 60px;
    border-radius: 30px;
}

.heart_bar .h_icon{
    flex:1;
    position: relative;
    right: -8px;
    top: -3px;
}

.heart_bar .h_text{
    flex:4;
    padding-right: 4px;
    text-align: right;
}


.side_menu{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.side_menu_item{
    padding-top: 10px;
    margin-left: 15px;
}