






.main_screen_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:95%;
}

.m_s_m{
    height: 100%;
}

.game_logo{
    flex:1;
}


/* GAME DESC */
.game_desc{
    flex:1;

    font-size: 5vw;
    
    padding: 15px;
    text-align: center;
    color:white;
}
.game_desc h4{
    font-weight: 300;
}


/* PLAYER DATA */
.game_player_data{  
    flex:5;
    width: 90%;
    max-width: 300px;


    border-radius: 30px;
    background: white;

}

.p_items_container{
    display: flex;
    flex-direction: column;
    flex:3;

    align-items: center;

    height: 100%;

}

.player_data_item{
    margin: 5px 0;
    color:#899eb2;
    flex:1;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    border-radius: 30px;
    background: #e5f0ff;
}

.player_data_item:first-child{
    margin-bottom: 0;
}
.player_data_item:last-child{
    margin-top: 0;
}


/* GAME BOTTOM */

.main_game_bottom{
    flex:1;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;

    /*
    position: fixed;
    left: 0;
    bottom: 0;
    */
}

.bottom_buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom_buttons .game_button{
    margin:0 15px;
}




@media screen and (min-width: 520px){
    .game_desc{
        font-size: 20px;
    }
}