

.register_container{
    color:white;
    padding: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.text_w_input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_w_input h3{
    padding-top:15px;
}

.text_w_input input{
    margin:20px 0;
    color:black;
}

