*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: #36399a; */
  background: linear-gradient(22deg, #4e9bdc, #2664c2)
}

html{
    box-sizing: border-box;
    height:100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

#root{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

html,body{

}

/*
body,span,h1,h2,h3,h4,h5,h6,a,button,div{
  font-family: 'Rubik', sans-serif;
  margin: 0;
}
*/

h4,h5,h6{
  font-weight: 300;
}

.game_button{
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  height:40px;
  width: 100%;
  max-width:110px;
  border-radius: 30px;
  color:white;

  cursor: pointer;

  font-weight: 600;
  border: 2px white solid;
}


input{
  border-radius: 3px;
  height: 30px;
  border:0;
}


/* GAME LOGO */
.game_logo{
    width:30%;
    max-width: 130px;
    object-fit: contain;
}

